
/* ***************************************** */

  #map {
    height: 90dvh;
    width: 50%;
  }
  #idmap{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ab9b7a, #FEFAE0, #b8b184,rgb(236, 231, 231));

  }
  .container {
    display: flex;
    background-color: rgb(223, 223, 223);
  }
  .container div {
    flex-basis: 50%;
  }
  
  h1 {
    text-align: center;
    margin: 20px 0;
  }
  
  .leaflet-popup-content-wrapper {
    background-color: #333; /* Background color of the popup box */
    border-radius: 5px;
    color: #fff; /* Text color inside the popup */
    font-size: 14px;
    line-height: 1.5;
  }
  
  /* Styles for the popup tip (the small triangle pointing to the marker) */
  .leaflet-popup-tip-container {
    visibility: hidden; /* Hide the default popup tip */
  }
  
  .leaflet-popup-tip {
    background-color: #333; /* Background color of the popup tip */
  }
  
  .popup {
    display: flex;
    flex-direction: column;
  }
  .popup div {
    display: flex;
    justify-content: space-between;
  }
  .popup div span {
    flex-basis: 30%;
    text-align: center;
  }
  .popup strong {
    color: #007bff; /* Example color for the strong element */
  }
  #marker-details {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(183, 163, 114, 0.329);

  }
  #marker-info {
    background-color: rgba(220, 224, 225, 0.329);
    border-radius: 8px;
    padding: 10px;
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.274);
  }